#dni{
    border-bottom: 1px solid #90caf9;
}

#nombre{
    border-bottom: 1px solid #90caf9;
}

#gLocal{
    border-bottom: 1px solid #90caf9;
}

#gVisitante{
    border-bottom: 1px solid #90caf9;
}

#tituloApuestas{
    padding: 5px 0px;
}

td{
    height:250px;
}

table h4{
    width:300px;
}

table img{
    height:200px;
    width:200px;
}
